.cards {
  padding: 2rem 1rem 0 0;
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
}
.card {
  display: flex;
  flex-direction: column;
  padding: 1.5%;
}
.img-wrapper {
  width: 100%;
  position: relative;
}
.thumbnail {
  width: 100%;
  position: absolute;
}
.thumbnail:hover {
  opacity: 0;
  transition-delay: 0.7s;
}
.playback {
  width: 99.47%;
}
.bottom-half {
  display: flex;
}
.channel-pfp {
  padding: 8px 12px 8px 8px;
}
.text-stuff {
  display: flex;
  flex-direction: column;
}
.channel-title,
.views-n-time {
  color: #999999;
  font-size: small;
}
